<br>
<br>
<h1 class="in-page-title">Past Trials</h1>
<br>
<div class="row">
  <ng-container *ngFor="let option of options">
    <div class="col-3 text-center">
      <a [routerLink]="option.params" class="btn btn-secondary">
        {{ option.label }}
      </a>
      <hr>
    </div>
  </ng-container>
</div>
<br>
<div class="row">
  <ng-container *ngFor="let trial of trials">
    <div class="col-lg-4">
      <test-survey-box [model]="trial" (requireInformation)="handleRequireInformation($event)"></test-survey-box>
    </div>
  </ng-container>
  
</div>