nav.nav-bar{

  height: 100px;
  max-height: 100px;
  display: flex;

  .logo-space{
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 100%;
    a.logo{
      font-size: 2rem;
      color: white;
  
      &:hover{
        text-decoration: none;
      }
    }
  }

  .buttons-space{
    height: 100%;
    display: flex;
    align-items: center;

    ul.btn-list{
      
      list-style-type: none;
      margin: 0;
      padding: 0;

      li{
        display: inline-block;
        width: 175px;
        font-size: 16px;
        font-weight: 200;
        color: white;

        &.search{
          width: 60px;
          font-size: 25px;
        }

        a{
          display: block;
          color: white;
          width: 100%;
          height: 100%;
          &:hover{
            text-decoration: none;
          }
        }

        &:hover, &:focus{
          .btn-menu{
            visibility: visible;
          }
        }

        .btn-menu{
          visibility: hidden;
          z-index: 3000;
          position: absolute;
          width: 175px;
          .triangle-up{
            margin: auto;
            width: 10px;
            height: 10px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid black;
            opacity: .5;
          }
          ul{
            background-color: rgba(0,0,0, .5);
            width: 100%;
            padding: 0;

            li{
              width: 100%;
              padding: 10px;
              display: block;
              
              &:hover{
                background-color: rgba(0,0,0, .8);
              }
            }
          }
        }
      }
    }
  }
}