@import 'stylesVariables';

.percent-bar{
  display: flex;
  position: relative;
  align-items: center;

  .text-percent{
    position: absolute;
    color: white;
    font-weight: 200;

    &.left{
      left: 10px;
    }

    &.right{
      right: 10px;
    }
  }

  .like{
    background-color: $color-agree;
    text-align: left;
  }

  .dislike{
    background-color: $color-disagree;
    text-align: right;
  }
}