html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.btn.btn-primary{
  background-color: unset !important;
  border-color: white;
  border-radius: 0;

  &:hover{
    border-color: grey;
  }
}

.btn.btn-secondary{
  background-color: unset !important;
  border-color: black;
  border-radius: 0;
  color: black;

  &:hover{
    border-color: grey;
    color: grey;
  }
}

.in-page-title{
  font-size: 35px;
  font-weight: 200;
}