@import 'stylesVariables';

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.btn.btn-primary{
  background-color: unset !important;
  border-color: white;
  border-radius: 0;

  &:hover{
    border-color: grey;
  }
}

.btn.btn-secondary{
  background-color: unset !important;
  border-color: black;
  border-radius: 0;
  color: black;

  &:hover{
    border-color: grey;
    color: grey;
  }
}

.in-page-title{
  font-size: 35px;
  font-weight: 200;
}

.glass-background{
  -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
}

.capital-letter{
  text-transform: lowercase;
  &::first-letter{
    text-transform: uppercase;
  }
}

.text-nowrap{
  white-space: nowrap;
}

.like-bkg{
  background-color: $color-agree;
}

.dislike-bkg{
  background-color: $color-disagree;
}